### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Visual Studio 2015/2017 cache/options directory
.vs/

.idea

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*
# KDE directory preferences
.directory
# Linux trash folder which might appear on any partition or disk
.Trash-*


# Dump file
*.stackdump

# Windows shortcuts
*.lnk

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates


nginx-error.log
nginx-access.log

vendor
composer.lock